<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Enter the event name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :date, placeholder: "Enter event date", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :time, placeholder: "Enter what time the event is", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :place, placeholder: "Enter where the event is", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, placeholder: "Write a description of the event here", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.file_field :main_image, placeholder: "Select an image", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
