<h1>Events</h1>

<% if @user.admin == true %>
  <%= link_to 'New Event', new_event_path %>
<% end %>


    <% @events.each do |event| %>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 justify-content-center">
            <%= image_tag event.main_image if event.main_image.attached? %>
            <%= event.name %>
            <%= event.date %>
            <%= event.time %>
            <%= event.place %>
            <%= event.description %>
          </div>
        </div>
      </div>
        <% if @user.admin == true %>
          <%= link_to 'Show', event %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>


<br>

